<% if (theme.gitment.client_id && theme.gitment.client_secret && theme.gitment.enable ){ %>
    <div id="gitment_container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
        id: '<%= page.title %>',
        owner: '<%= theme.gitment.owner %>',
        repo: '<%= theme.gitment.repo %>',
        oauth: {
            client_id: 'e85e26891e27a971c2a8',
            client_secret: '75394d3d25dbc264a72ef96244bee2c5ca7042db',
        },
    })
    gitment.render('gitment_container')
    </script>
<% } %>
