---
title: A Primer on Domain Verification
date: '2025-10-10'
linkTitle: https://ropensci.org/blog/2025/10/10/verification/
source: Blog on rOpenSci - open tools for open science
description: |2-

  &lt;p&gt;Are you &lt;a href=&#34;https://en.wikipedia.org/wiki/The_Wolf_and_the_Seven_Young_Goats&#34;&gt;the mother goat or the wolf&lt;/a&gt;?
  Consumers of your online content might care!
  Be it on social media or other platforms, your profile can sometimes be &amp;ldquo;verified&amp;rdquo;.
  What does it mean? How does one get a green checkmark where it matters?
  Here&amp;rsquo;s a primer on domain verification.&lt;/p&gt;
  &lt;h2&gt;
  A basic verification workflow
  &lt;/h2&gt;&lt;p&gt;Say you, Jane Doe, have your resume and a blog on a website, janedoe.com.
  You also publish content on another site, ...
disable_comments: true
---

&lt;p&gt;Are you &lt;a href=&#34;https://en.wikipedia.org/wiki/The_Wolf_and_the_Seven_Young_Goats&#34;&gt;the mother goat or the wolf&lt;/a&gt;?
Consumers of your online content might care!
Be it on social media or other platforms, your profile can sometimes be &amp;ldquo;verified&amp;rdquo;.
What does it mean? How does one get a green checkmark where it matters?
Here&amp;rsquo;s a primer on domain verification.&lt;/p&gt;
&lt;h2&gt;
A basic verification workflow
&lt;/h2&gt;&lt;p&gt;Say you, Jane Doe, have your resume and a blog on a website, janedoe.com.
You also publish content on another site, ...